.card {
  background-color: #232323;
  width: 250px;
  height: 350px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.card__title {
  width: 90%;
  height: 10%;
  background-color: #e0e0e0;
}

.card__body {
  background-color: #e0e0e0;
  width: 90%;
  height: 60%;
  border-radius: 10px;
}

.card__body .skeleton-image {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}

.card__stats {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card__stats .skeleton-line {
  height: 16px;
  width: 30%;
  background-color: #e0e0e0;
}
